<!DOCTYPE html>
<!--
    Cities by States HTML Template

    This template is used to display a list of states and their associated cities.
    It is designed to work with a Flask application that provides a 'states' dictionary
    containing State objects, each with a list of City objects.

    Expected context:
    - states: A dictionary of State objects, each containing:
        - id: The state's unique identifier
        - name: The name of the state
        - cities: A list of City objects, each containing:
            - id: The city's unique identifier
            - name: The name of the city

    Usage:
    This template should be rendered by a Flask route handler, passing in the required 'states' context.

    Author: Olaniyi
    Date: August
-->
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
			{% for state in states.values()|sort(attribute='name') %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B>
                <UL>
				{% for city in state.cities|sort(attribute='name') %}
                        <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
				{% endfor %}
                </UL>
            </LI>
			{% endfor %}
        </UL>
    </BODY>
</HTML>